
.App {
  display: flex;

  align-items: center;

  justify-content: center;

  min-width: 100vw;

  min-height: 100vh;
  background-image: url("../src/Components/images/bg.jpg");
/* 
  background: linear-gradient(rgb(166, 159, 255), rgb(214, 214, 214)); */
}
.bg-overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.loginContainer {
  display: flex;

  flex-direction: column;

  align-items: center;
  
  width: 25em;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  width: 80%;
  letter-spacing: 0.8px;
}

.input-container input {
  height: 1.5em;
  border-radius: 15px;
  border-width: 15px;
  border: white;
  box-shadow: 0 0 6px rgb(166, 159, 255);
  outline: none;
  padding: 10px;
  font-size: 20px;
}
.input-container select {
  border-radius: 15px;
  height: 50px;
  border: white;
  box-shadow: 0 0 6px rgb(166, 159, 255);
  outline: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

input:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 16px rgb(125, 115, 255);

  outline: 0 none;
}

a {
  color: rgb(0, 68, 255);

  font-weight: 500;

  margin: 5px;

  cursor: pointer;

  align-self: baseline;

  margin-left: 40px;
}

.loginBut {
  height: 4em;

  width: 24em;

  margin: 25px 10px 5px 10px;

  border-radius: 15px;

  background: linear-gradient(rgb(124, 114, 255), rgb(255, 116, 116));

  border: none;

  transition: all 0.2s ease-in-out;
}

.loginBut:hover {
  transform: scale(1.1);

  box-shadow: 0 0 12px rgb(199, 199, 199);
}

.loginBut p {
  color: white;

  font-size: 20px;

  margin-top: 13px;
}

.dashboard-data {
  display:flex;
  justify-content:space-between
}
.table-wrapper {
  width: auto;
}

.table-wrapper .export-icons-adj {
  text-align: right;
  text-align: right;
  max-width: 80%;
  margin: 0 auto 30px auto;
}
.table-wrapper .export-icons-adj span {
  padding: 10px;
  color: #000;
  font-size: 25px;
  cursor: pointer;
}
.table-wrapper .export-icons-adj .pdf-icon{
  color: #DF4A2A;
  
}
.table-wrapper .export-icons-adj .excel-icon {
  color: #54AB55;
}
.table {
  display: block;

  overflow: hidden;

  table-layout: fixed;

  border-collapse: collapse;

  border-radius: 5px;

  white-space: nowrap;

  width: 100em;

  max-width: 80%;

  margin: 40px auto 0 auto;

  overflow-x: auto;
}

.table thead {
  background-color: #95A5A6;
  color: #222;
}

.table th,
.table td {
  padding: 0.8rem;

  text-align: center;
}

.table td {

  overflow: hidden;

  text-overflow: ellipsis;
}

.table .thead-id {
  position: sticky;
  left: 0;
  background: #95A5A6;
}
.table .tdata-id {
position: sticky;
left: 0;
background: white;
}

.table .tdata-id {
background-color: #f2f2f2;
}

.table tr:nth-child(even) {background-color: #eee;}
.truncate td {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-error {
  text-align: center;
  color: red;
}
.Form-updated-data {
  text-align: center;
}
